<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<h3>Converter</h3>
<div id="app">
<!--    {{ curss }}-->
<!--    вывод элементов из массива-->
<!--    <div>-->
<!--        <button v-for="curs in curss">{{curs}}</button>-->
        <button @click="input()">123</button>
<!--    </div>-->
    <div>
        <div>
            <span>Выберите валюту для перевода из</span>
        </div>
        <select v-model="selected">
            <option disabled value="">Выберите один из вариантов</option>
            <option v-for="curs in curss">{{curs}}</option>
<!--            <option>А</option>-->
<!--            <option>Б</option>-->
<!--            <option>В</option>-->
        </select>
        <span>Выбрано: {{ selected }}</span>
        <select v-model="selected2">
            <option disabled value="">Выберите один из вариантов</option>
            <option v-for="curs in curss">{{curs}}</option>
<!--            <option>А</option>-->
<!--            <option>Б</option>-->
<!--            <option>В</option>-->
        </select>
        <span>Выбрано: {{ selected2 }}</span>
    </div>
    <div>
        <input type="text" v-mode="resoult">
        {{resoult}}
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>